@import 'tailwindcss';
@source "../views";


.strelka-right,
.strelka-bottom {
    margin: 2px 2px;
    width: 15px;
    height: 15px;
}

.strelka-right path,
.strelka-bottom path {
    fill: #BFE2FF;
    stroke-width: .6;
    stroke: #337AB7;
    transition: fill 0.5s ease-out;
    cursor: pointer;
}
.strelka-bottom {
    transform: rotate(90deg);
}

.strelka-right path:hover,
.strelka-bottom path:hover {
    fill: #337AB7;
}

.action-button{
  @apply px-1 cursor-pointer text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm text-center inline-flex items-center;
}



